<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo" src="images/Header_Misys_logo22px.png"></a>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="pageName" placeholder="Add Page">
        <a class="magnifier header-icon" ng-click="addPage()"><i class="fa fa-plus"></i></a>

      </div>
    </form>
    <!-- /.container-fluid -->
    <a class="pull-right header-icon right-header-icons" data-toggle="tooltip" title="Preview" data-placement="bottom"><i class="fa fa-eye"></i></a>
    <a class="pull-right header-icon right-header-icons" data-toggle="tooltip" title="Edit" data-placement="bottom"><i class="fa fa-pencil-square-o"></i></a>
    <a class="pull-right header-icon right-header-icons" data-toggle="tooltip" title="Pages" data-placement="bottom" ng-click="openAside('left', true)"><i class="fa fa-server"></i></a>
</nav>
<div class="row">
  <div class="col-2">

  </div>
  <div class="col-10">

  </div>
</div>
